@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// color scheme:
$turqois: #02E1E4;
$yellow: #F4C402;
$red: #ED5F7B;
$dark: #171717;

// fonts
$primary: 'Roboto', sans-serif;
$secondary: 'Montserrat', sans-serif;

h1,h2,h3,h4,h5,h6 {
  font-family: $primary;
}

p {
  font-family: $secondary;
}