@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// color scheme:
$turqois: #02E1E4;
$yellow: #F4C402;
$red: #EE015D;
$background: #240447;

// fonts
$primary: 'Roboto', sans-serif;
$secondary: 'Montserrat', sans-serif;
$headings: 'Playfair Display', serif;