@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url("https://use.typekit.net/wrq5gnf.css");

// color scheme:
$turqois: #02E1E4;
$yellow: #F4C402;
$red: #ED5F7B;
$dark: #171717;

// fonts
$primary: 'Oswald', sans-serif;
$primary-bold: 'bebas-kai';
$secondary: 'Garamond', sans-serif;

h1 {
  font-family: $primary-bold;
  letter-spacing: .5px;
  font-size: 2em;
}

h2,h3,h4,h5,h6 {
  font-family: $primary;
  font-weight: 900;
}

p {
  font-family: $secondary;
}