section#resume {
  background-color: #f9f9f9;
  padding-top: 20px;
}
ul#skill-icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  li {
    margin: 1rem;
  }
} 
div#personal {
  p {
    font-size: 1.5rem;
  }
}
img#selfie {
  height: 8rem;
  width: 8rem;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.subheading-resume {
  font-size: 1.5rem;
  margin-top: 3rem;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-date {
    text-align: center!important;
  }
}
.vertical-timeline {
  margin-bottom: 0!important;
}
.education-path {
  fill: white;
}
.work-path {
  fill: white;
}