section#resume {
  background-color: inherit;
  padding-top: 20px;
}
ul#skill-icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  li {
    margin: 1rem;
    svg:hover {
      transform: rotate(360deg);
      transition-duration: 1.5s;
    
    }
  }
} 

svg.white {
  fill:white;
}
svg.black{
  fill:black
}
.white {
  color: white;
}
.black {
  color: black;
}

div#personal {
  display: flex;
  justify-content: center;
  p {
    font-size: 1.5rem;
  }
}
.subheading-resume {
  font-size: 1.5rem;
  margin-top: 3rem;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-date {
    text-align: center!important;
  }
}
.vertical-timeline {
  margin-bottom: 0!important;
}