@import 'base_styles';

.card-container {
  border: '1px solid #D3D3D3';
  border-radius: '5px';
  box-shadow: '0px 0px 1px 1px #D3D3D3';
  a {
    text-decoration: none;
    color: inherit;
  }
  transition: all 0.6s ease-in-out;
}
.card-container:hover {
  background-color: #f5f5f5;
  color: $dark;
}

.image-container {
  padding: 10px 0 10px 10px;
  height: 100%;
  min-width: 33%; 
  width: 33%;
}

@media screen and (max-width: 550px) {
  .blog-card {
    flex-direction: column;
  }
  .image-container {
    width: 80%;
    padding: 40px 0 20px 0;
  }
}