pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: 45px;
}

$brand-colors: (
	facebook: #3b5998,
	twitter: #1da1f2,
	linkedin: #0077b5
);

@each $class, $color in $brand-colors {
  .#{$class} {
    background-color: $color;
    border-color: $color;
    color: #fff;
    padding: 16px;
    margin-bottom: 25px;
    &:hover {
      background-color:  #fff;
      color: $color;
    }
  }
}