@import 'base_styles';

#overlay-main {
  background-color: rgba(0,0,0, 0.65);
  color: white;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  flex: 1;
  height: 100vh;
}

#text-container-main {
  max-width: 70%;
  max-height: 80%;
  font-size: 1.5rem;
  padding: 35px;
  font-family: monospace;
}

#intro-text-main {
  font-size: 3rem;
  margin-bottom: 25%;
}

// ============================================
// POINTING FINGER
// ============================================

#pointer {
  position:relative;
  -webkit-animation: backandforth 1s ease 5;
  animation: backandforth 1s ease 5;
  animation-delay: 4.5s;
  text-shadow: 10px 10px 10px;
  padding-right: 10px;
}
@-webkit-keyframes backandforth {0%{left:0;} 50%{left:50%;} 100%{left:0;}}
@keyframes backandforth {0%{left:0;} 50%{left:2.5%;} 100%{left:0;}}


// ============================================
// HIGH FIVE
// ============================================


#highFive {
  animation: highFiveMe 0.6s 6 alternate;
  animation-delay: 3.2s;
  -webkit-animation: highFiveMe 0.6s 6 alternate;
  position: absolute;
  text-shadow: 10px 10px 10px;
  padding-left: 15px;
}
@keyframes highFiveMe {
0% {
    transform: scale(1.0);
}
100% {
    transform: scale(1.5);
}
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation-delay: 1.2s;

}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}