@import 'base_styles';

p.legend {
  font-size: 18px;
}
// TODO: add media queries to change column count: 1 for very small viewport, 3 and up for larger ones
.portfolio-list  {
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 2fr) );

  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 0em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.square {
  display: inline-block;
  background: #f5f5f5;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 2px 0;
  position: relative;

  img {
    max-width: 100%;
    object-fit: cover;
  }

}

.full-screen-square {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

div#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
  background-color: black;
}

#overlay:hover {
  opacity: 0.8;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;  
}
