aside {
  flex: 1;
  min-width: 195px;
  min-height: 100vh;
  max-height: 100vh;
  color: $red;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #010203;
  z-index: 10;

  header {
    flex: 2;
    img {
      width: 120px;
      padding-top: 20px;
    }
  }
  nav {
    flex: 1;
    padding: 20px;
    .nav-list {
      list-style-type: none;
      padding: 0;
      .menu-button {
        visibility: hidden;
      }
      .nav-item {
       
        line-height: 2;
        color: #C0C0C0;
        text-decoration: none;
        li {
          margin-bottom: 1.75rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg {
            margin-right: 25px;
          }
          h4 {
            display: flex;
            text-align: right;
          }
        }
      }
      .nav-item:hover {
        color: $red;
      }
    }
  }
}

  .active {
    li {
      svg {
        color: $red;
      }
      h4 {
        color: $red;
      }
    }
  }

  @media only screen and (max-width: 820px) {
    aside {
      display: none;
    }
  }