// ===========
// BASE STYLES
// ===========
aside {
  flex: 1;
  min-width: 195px;
  height: 100vh;
  max-height: 100vh;
  color: $red;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #3A2A46;
  z-index: 10;

  header {
    flex: 2
  }
  nav {
    flex: 1;
    padding: 20px;
    .nav-list {
      list-style-type: none;
      padding: 0;
      li {
        margin-top: 32px;
        margin-bottom: 20px;
        .nav-item {
          border-bottom: 2px solid #C0C0C0;
          line-height: 3;
          color: #C0C0C0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          margin: 0 auto;
          svg {
            margin-right: 22px;
          }
        }
      }
      li:hover {
        .nav-item {
          border-bottom: 2px solid $red;

          color: $red;
        }
      }
      .menu-button {
        visibility: hidden;
      }
    }
  }
}
// ========
//SIDEBAR TURNS INTO STICKY TOP NAVBAR
// =========

  @media only screen and (max-width: 660px) {
    aside.hidden {
      min-width: 100%;
      flex-direction: row;
      position: sticky;
      max-height: 150px;
      nav {
        padding: 25px;
        .nav-list {
          li {
            a.nav-item {
              display:none;
            }
            .menu-button {
              visibility: visible;
              margin-top: 15px;
              outline: 0;
              border: none;
              -moz-outline-style: none;
            }
            hr.nav-separator {
              display: none;
            }
          }
        }
      }
    }

    aside.show {
      max-height: 580px;
      header {
        align-self: start;
      }
      nav {
        padding: 0px 0px 10px 0px;;
        ul.nav-list {
          li {
          
            a.nav-item {
              .menu-button {
                visibility: visible;
                outline: 0;
                border: none;
                -moz-outline-style: none;
              }
              h5 {
                font-size: 16px;
              }
            }
            .menu-button {
              visibility: visible;
              margin-top: 15px;
            }
          }
        }
      } 
    }
  }

  .active {
    border-bottom: 2px solid $red!important;
    svg {
      color: $red;
    }
    h5 {
      color: $red;
    }
  }